<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Miremos</title>
		<link href="css/style.css" rel = "stylesheet" type = "text/css"> 
	</head>
	<body>
		<header>
			<h1>Educación continua TdeA</h1>
		</header>