{{>header}}

{{#if session}}
		  <div class="collapse navbar-collapse" id="myNavbar">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="/">listado cursos</a></li>
		      <li><a href="/crearcursos">Crear cursos</a></li>
		      <li><a href="#">Contact</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
		    </ul>
		  </div>
		</div>
	</nav>
{{/if}}
<div class="container-fluid text-center">
	<div class="jumbotron">
		  <h1 class="display-4">Bienvenido a la página de cursos {{persona}}</h1>
		  <p class="lead">Aqui podra crear curso y ver su informacion</p>
		  <hr class="my-4">
		  <p>Para Registrar un curso llene el siguiente formulario:</p>
			<br></br>
			<div class="container">
      <form class="form-horizontal" action="/crearcursos?session=session" method="post">
				<div class="form-group">
					<label class="control-label col-sm-2" for="nombre">Nombre del curso:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="name"  name="nombre" placeholder="Ingresa un nombre" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="nombre">Descripcion del curso:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="descripcion"  name="descripcion" placeholder="Ingresa una breve descripcion" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="nombre">Id del curso:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="id"  name="id" placeholder="Ingrese un Id" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="nombre">Ingrese el valor del curso:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="valor"  name="valor" placeholder="Ingrese un valor" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="nombre">Intensidad Horaria:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="intensidadhoraria"  name="intensidadhoraria" placeholder="Ingresa un intensidad horaria" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="nombre">Modalidad:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="modalidad"  name="modalidad" placeholder="Ingresa un  modalidad" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="nombre">Estado del curso:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="estado"  name="estado" placeholder="Ingresa un estado" value="Disponible" required>
					</div>
					<br></br>
					<div class="form-group">
						<div class="col-sm-10">
								<input type="hidden"   name="inscritos"  value="[]">
								<button class="btn btn-primary btn-lg"  type="submit "role="button">Crear</button>
						</div>
					</div>
			</form>
		</div>
			<hr class="my-4">
		  <p>Los cursos que hay hasta haora son:</p>
			<br></br>
				{{#if nombre}}
							<div>
						   {{registrarCurso nombre descripcion id valor intensidadhoraria modalidad estado inscritos}}
						 	</div>
							{{{listarCursos}}}
						</div>
				{{/if}}
	 		</div>
		</div>
	</div>
</body>

{{>footer}}
