{{>headdashboard}}

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar-->
    {{#if coordinador}}
      {{>sidebardashboard}}
    {{/if}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        {{>topbar}}
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
          </div>

          <!-- Area Chart -->
            <div class="col-xs-7 d-flex justify-content-center">
              <div class="col-xl-5 col-lg-8">
                <div class="card shadow mb-4 center-block">

                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Modificar usuario: {{firstnameUser}}</h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">¿QUÉ QUIERES HACER?:</div>
                        <a class="dropdown-item" href="dashboardadmin?verCursosDisponibles=true">Ver cursos</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                      {{>adminuserupdateform}}
                  </div>
                </div>
              </div>
            </div>


          <div class="row">
            <!-- Content Column -->
              <div class="col-lg-6 mb-4"> </div>
              <div class="col-lg-6 mb-4"> </div>
          </div>
          <!-- end Content Row -->
      </div>
      <!-- end container-fluid -->
    </div>
      <!-- End of Main Content -->
      {{>footerdashboard}}
  </div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Footer -->



  <script>
    setTimeout(function() {
        $('#mydiv').fadeOut('fast');
    }, 6000);
  </script>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseas salir ?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecciona "Salir" para terminar la sesion actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/exit">Salir</a>
        </div>
      </div>
    </div>
  </div>


  </body>
  </html>
