{{>header}}
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
    	<li><a href="#">Home</a></li>
      	<li><a href="/listadocursos?session=aspirante">listado cursos Disponibles</a></li>
      	<li><a href="/eliminarcursos?session=aspirante">Eliminar Incripciones</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</div>
</nav>

	<div class="container">
		<div class="col">

      <form action="/eliminarcursos" method="post">
        <div class="form-group">
        <p> primero ingresa tu id: </p>
        <input type="text" name="id1" class="form-control input-lg" placeholder="id"  required>
        <input type="hidden"  name="session" value="session">
        <input type="hidden"  name="mostrarid" value="mostarid">
        <input type="submit" value="Enviar">
        </div>
      </form>

      {{#if mostrarid}}

        <P>Estos son tus cursos</p>
        <div id='accordion'>
          {{{listarCursosPropios id1}}}
        </div>
          <form action="/eliminarcursos" method="post">
            <div class="form-group">
            <p> Ahora escribre el nombre del curso para eliminarlo: </p>
            <input type="text" name="Curso" class="form-control input-lg" placeholder="nombre curso"  required>
            <p> y otra vez tu id  </p>
            <input type="text" name="id2" class="form-control input-lg" placeholder="tu id"  required>
            <input type="hidden"  name="session" value="session">
            <input type="hidden"  name="deshacer" value="deshacer">
            <input type="submit" value="Enviar">
            </div>
          </form>
      {{/if}}
		</div>
	</div>

	{{#if deshacer}}
            <script type="text/javascript">
              $(document).ready(function(){
                $("#myModal").modal('show');
              });
            </script>
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Validacion</h4>
                        </div>
                        <div class="modal-body">
                          {{eliminarcursosInscritos id2 Curso}}
                        </div>
                    </div>
                </div>
            </div>
      {{/if}}
{{>footer}}
