{{>header}}

{{#if session}}
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/listadocursos">listado cursos</a></li>
      <li><a href="/crearcursos?session=session">Crear cursos</a></li>
      <li><a href="/actualizarusuarios?session=session">Actualizar usuarios</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</div>
</nav>
{{/if}}




<body>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!-------null------>
    </div>
    <div class="col-sm-8 text-left">

      <div class="jumbotronTransp" >
        <h1 class="display-1" align="center">Bienvenido a la pagina de inicio del coordinador {{coordinador}} </h1>
      </div>
      <hr>
      <h3>Esta es la pagina inicial del coordinador, en la barra de navegacion encontraras las herramientas del coordinador con las siguientes funcionalidad:</h><br> </br>
      <li><p> podras Crear cursos.</p></li>
      <li><p> podras Actualizar cursos.</p></li>
      <li><p> podras Cambiar el roll de los usuarios de la plataforma.</p></li>
    </div>
    <div class="col-sm-2 sidenav">
          <!-------null------>
    </div>
  </div>
</div>

{{>footer}}
