{{>header}}

{{#if session}}
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="/listadocursos?session=aspirante">listado cursos Disponibles</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</div>
</nav>
{{/if}}

<body>
<div class="container-fluid text-center">
  <div class="col-md-4">
    <!-------null------>
  </div>

    <div class="row content abs-center">
      <div class="col-sm-4">
        <h1>Welcome</h1>
        <p>los cursos disponible son</p>
        <hr>
        <h3>Test</h3>
      </div>
   </div>   
   <div class="col-md-4">
     <!-------null------>
   </div>
     <div class="row content abs-center">
      <div class="col-sm-4">
        <form id="info-inscrito" action="/indexaspirante" method="post">
          <div class="form-group">
            <label>Identificación (c.c)</label><br>
            <input type="text" class="form-control" name="id">
          </div>
          <div class="form-group">
            <label>Curso</label><br>
            <input type="text" class="form-control" name="Curso">
          </div>
          <input type="hidden"  name="session" value="session">
          <input type="hidden"  name="inscribir" value="inscribir">
          <input type="submit" value="Inscribir">
        </form>
      </div>
  </div>
  <div class="col-md-4">
    <!-------null------>
  </div>
</div>

 {{#if inscribir}}
            <script type="text/javascript">
              $(document).ready(function(){
                $("#myModal").modal('show');
              });
            </script>
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Validacion</h4>
                        </div>
                        <div class="modal-body">
                          {{{inscribirCurso id Curso}}}
                        </div>
                    </div>
                </div>
            </div>
      {{/if}}
</body>
{{>footer}}
