{{>header}}

{{#if session}}
  <div class="collapse navbar-collapse" id="myNavbar">+
    <ul class="nav navbar-nav">
      <li ><a href="/indexaspirante">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</div>
</nav>
{{/if}}




<body>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 ">

    </div>
    <div class="col-sm-8 text-left">



      <h1>Bienvenido  </h1>



      <h1>Aqui veras el listado de cursos disponibles </h1>



      <p></p>
      <hr>
      <h3>lista de cursos :</h3>

          {{{listarCursosDisponibles}}}



  </div>
</div>
</div>
</body>


{{>footer}}
