
{{>header}}

<div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav">
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
</div>
</div>
</nav>


<body>
	<div class="container-fluid">
		<div class="container">

      {{#unless registro}}
			<h2 class="text-center" id="title">Ingresa ahora a la mejor aplicacion del mundo.</h2>
			 <p class="text-center">
				<small id="passwordHelpInline" class="text-muted"> </a> </small>
			</p>
      {{/unless}}

      {{#if registro}}
			<h2 class="text-center" id="title">Ahora ya puedes ingresar con tu cuenta</h2>
			 <p class="text-center">
				<small id="passwordHelpInline" class="text-muted"> y resar para que esto no explote</a>.</small>
			</p>

			<script type="text/javascript">
				$(document).ready(function(){
					$("#myModal").modal('show');
				});
			</script>
			<div id="myModal" class="modal fade">
					<div class="modal-dialog">
							<div class="modal-content">
									<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Validacion</h4>
									</div>
									<div class="modal-body">
										{{show}}
							</div>
					</div>
			</div>
      {{/if}}

      {{#if login}}
            <script type="text/javascript">
            	$(document).ready(function(){
            		$("#myModal").modal('show');
            	});
            </script>
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Validacion</h4>
                        </div>
                        <div class="modal-body">
                          {{{checkearUsuario logeusername logepassword}}}
                        </div>
                    </div>
                </div>
            </div>
      {{/if}}



 			<hr>

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="post" action="/login">
						<fieldset>
  							<p class="text-uppercase pull-center"> REGISTRO </p>
   							<div class="form-group">
  								<input type="text" name="username" id="username" class="form-control input-lg" placeholder="username" required>
  							</div>
  							<div class="form-group">
  								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" required>
  							</div>
  							<div class="form-group">
  								<input type="password" name="password" id="password" onkeyup='check();' class="form-control input-lg" placeholder="Password" required >
  							</div>
  								<div class="form-group">
  								<input type="password" name="confirm_password" id="confirm_password" onkeyup='check();' class="form-control input-lg" placeholder="Password2" required>
									<span id='message'></span>
  							</div>
								<div class="form-group">
								  <input type="phone" name="phone" id="phone" class="form-control input-lg" placeholder="telefono" required>
								</div>
								<div class="form-group">
								<input type="id" name="cc" id="cc" class="form-control input-lg" placeholder="cc" required>
								</div>
  							<div class="form-check">
  								<label class="form-check-label">
  								  <input type="checkbox" class="form-check-input">
  								  By Clicking register you're agree to our policy & terms
  								</label>
  							  </div>
   							<div>
									<input type="hidden" name="roll"  value="aspirante">
                  <input type="hidden" name="registro"  value="registro">
   							<input type="submit" class="btn btn-md"   value="Register">
 							</div>
						</fieldset>
					</form>
				</div>

        <div class="col-md-2">
					<!-------null------>
				</div>

				<div class="col-md-5">
 				 		<form role="form" method="post" action="/login">
  						<fieldset>
    							<p class="text-uppercase"> LOGIN </p>

  							<div class="form-group">
  								<input type="username" name="logeusername" id="logeusername" class="form-control input-lg" placeholder="username" required>
  							</div>
  							<div class="form-group">
  								<input type="password" name="logepassword" id="logepassword" class="form-control input-lg" placeholder="Password" required>
  							</div>
  							<div>
                  <input type="hidden" name="login"  value="login">
                  <input type="submit" class="btn btn-md"  value="login">
  							</div>
   						</fieldset>
				    </form>
				</div>
			</div>
		</div>

		<p class="text-center">
			<small id="passwordHelpInline" class="text-muted"> Perdiste tu contraseña?  <a href="/loginregister">click aquí</a>.</small>
		</p>

	</div>
<script>
	var password = document.getElementById("password")
	  , confirm_password = document.getElementById("confirm_password");

	function validatePassword(){
	  if(password.value != confirm_password.value) {
	    confirm_password.setCustomValidity("Passwords Don't Match");
	  } else {
	    confirm_password.setCustomValidity('');
	  }
	}
	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
</script>

{{>footer}}
