<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sockets</h1>
    <form class="form"  id="socketForm">
      <input type="text"  id="text">
      <input type="text" id="nombre">
      <button type="submit" name="button">enviar</button>
    </form>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/sockets.js"></script>
  </body>
</html>
