<!-- Site footer -->
  <footer class="sticky-footer bg-white">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-md-3">
           <h6>Sigue en contacto:</h6>
           <ul class="social-icons">
             <li><a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
             <li><a class="twitter" href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a></li>
             <li><a class="dribbble" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a></li>
             <li><a class="linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
           </ul>
         </div>

         <div class="col-xs-6 col-md-5">
           <h6>Suscribete RSS:</h6>
          <div class="simple-subscription-form">
            <form>
              <p>Recibe las ultimas noticias de nuestros cursos! Solo inscribe tu correo:</p>
              <div class="input-group">
                <input class="input-group-field" type="email" id="emailrss" placeholder="Email" required>
                <button class="btn btn-primary" id="hit" onclick="sendmail()">Registrate</button>
            </form>
          </div>
         </div>
       </div>

         <div class="col-xs-6 col-md-2">
           <h6>Cursos destacados:</h6>
           <ul class="footer-links" type="disc">
             <li><a href="#">C</a></li>
             <li><a href="#">UI Design</a></li>
             <li><a href="#">PHP</a></li>
             <li><a href="#">Java</a></li>
             <li><a href="#">Android</a></li>
             <li><a href="#">Templates</a></li>
           </ul>
         </div>

         <div class="col-xs-6 col-md-2">
           <h6>Links:</h6>
           <ul class="footer-links">
             <li><a href="#">About Us</a></li>
             <li><a href="#">Contact Us</a></li>
             <li><a href="#">Contribute</a></li>
             <li><a href="#">Privacy Policy</a></li>
             <li><a href="#">Sitemap</a></li>
           </ul>
         </div>
       </div>
       <hr>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-md-4 col-sm-6 col-xs-12">
         </div>
         <div class="col-md-8 col-sm-6 col-xs-12">
           <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
             <a href="#">Valentina and Edward inc</a>.
           </p>
         </div>
       </div>
     </div>
</footer>
<!-- End of Footer -->

<!-- <script>

function sendmail(){
const sgMail = require('@sendgrid/mail');

      $('#hit').click(function() {
        var email = $('#emailrss').val();
        console.log("hola" + email)
        const mailmsg = {
          to: email,
          from: 'edwardca12@gmail.com',
          subject: 'RSS app!',
          text: 'Hola, bienvenido a mi aplicacion web, estamos en construccion.',
          html: `<h1> Te has suscrito a nuestro RSS!, pronto recibiras nuestras ultimas noticas.<h1> <br> <strong>Hasta pronto</strong>`,
        };
        sgMail.send(mailmsg)
        alert(`Listo! has quedado registrado a nuestro rss, checkea tu email: ${email} `);
      });
      alert(`Listo! has quedado registrado a nuestro rss, checkea tu email: ${email} `);
}

</script> -->


<script type="text/javascript">

  $('#hit').click(function (e) {
     let email = $('#emailrss').val();
     alert(`Listo! has quedado registrado a nuestro rss, checkea tu email: ${email} `);
   });
</script>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseas salir ?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Selecciona "Salir" para terminar la sesion actual.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" href="/exit">Salir</a>
      </div>
    </div>
  </div>
</div>




  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
