<!DOCTYPE html>
<html>
 <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified JavaScript -->
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-table.js"></script>
		<!-- Bootstrap - Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-table.css">
		<title>App estudiantes</title>
	</head>

	<body>

		<div class="container-fluid">
			<header>
				<h1>{{titulo}}</h1>
			</header>
		</div>

		<navbar>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/cursos">Oferta de cursos</a></li>
				<li><a href="/Lista de estudiantes">Lista de estudiantes</a></li>
				<li><a href="/crearcursos">Crear cursos</a></li>
			</ul>
		</navbar>
