{{>header}}
	<p>
		La información del curso es: 
		{{descripcion1}}
	</p>
	<div id="curso1"></div>
	<div id="curso2"></div>
	<p id="demo"></p>
	<script>
		function myFunction() {
  			document.getElementById("demo").innerHTML ="Hello World";
		}
	</script>
{{>footer}}